{%extends 'users/user_base.html'%}

{%load static%}
{%block contents%}
 <section id="aboutUs" class="page-section darkBg pDark pdingBtm30">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2>Enhancing Multi-Class Classification in One-VersusOne Strategy: A Type of Base Classifier Modification
                    and Weighted Voting Mechanism </h2>
                <p>Real-time object detection to improve surveillance methods is one of the sought-after applications of Convolutional Neural Networks (CNNs).</p>
            </div>
        </div>
        <!--/.container-->
    </section>
{%endblock%}